# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# 11-video-player/652333414.mp4

19-webcam/node_modules

/Users/moriahhumphries/IdeaProjects/Javascript-30/19-webcam